<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find sphero_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="pause" default="false"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sphero_gazebo)/worlds/arena.world"/> 
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Static transform from map to odom frame. -->
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" respawn="true" args="0 0 0 0 0 0 /map /odom_frame 1000" />

  <!-- Static map server. -->
  <node pkg="map_server" type="map_server" name="map_server" respawn="true" args="$(find sphero_gazebo)/maps/empty_map.yaml">
    <param name="frame_id" value="map" />
  </node>

  <!-- Start Rviz for visualization. -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find sphero_gazebo)/launch/arena.rviz" />

  <!-- Spawn Spheros and their control plugins in the Gazebo -->
  <group ns="sphero_1">
    <include file="$(find sphero_gazebo)/launch/sphero.launch.xml">
      <arg name="index" value="1" />
      <arg name="x" value="-1.0" />
      <arg name="y" value="0.0" />
    </include>
  </group>

<!--   <group ns="sphero_2">
    <include file="$(find sphero_gazebo)/launch/sphero.launch.xml">
      <arg name="index" value="2" />
      <arg name="x" value="1.0" />
      <arg name="y" value="0.0" />
    </include>
  </group> -->

</launch>
